body {
    background-color: #3d3d3d;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    font-family: 'Lato';
}

.wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 650px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 0;
}

.book-table {
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #6a46b9;
    border: 2px solid #6a46b9;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, .5);
    cursor: pointer;
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
    overflow: hidden;
    position: relative;
}

.book-table img {
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.book-descriptions {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, .7);
    width: 100%;
    height: 100%;
    transition: all .7s ease-in-out;
    padding: 20px;
    box-sizing: border-box;
    clip-path: circle(0% at 100% 100%);
}

.book-table:hover .book-descriptions {
    left: 0px;
    transition: all .7s ease-in-out;
    clip-path: circle(75%);
}

.book-table:hover {
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
    transform: scale(.97);
}

.book-table:hover img {
    transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
    transform: scale(1.6) rotate(20deg);
    filter: blur(3px);
}

.book-table h1 {
    color: #422C73;
    letter-spacing: 1px;
    margin: 0px;
}

.book-table p {
    line-height: 24px;
    height: 70%;
}

.book-table button {
    height: 40px;
    cursor: pointer;
    border-style: none;
    background-color: #422C73;
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.book-table button:hover {
    color: red;
}